# Microsoft Movie Analysis

**Author:** Lili Beit
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Microsoft wants to enter the movie business as a creator of original content, but doesn't know anything about movies.  

I will work off the assumption that this will be a streaming subscription service, so when mining data about existing movies, I will look at ratings and popularity rather than box office returns.

However, budget will also be an important factor, since Microsoft wants a positive ROI on its subscription service.  I will seek to advise Microsoft on how to maximize the ratio of ratings to budget.

***
Questions to answer:
* What genres of movies are correlated with high ratings? (IMDB)
* What actors are correlated with high ratings? (IMDB)
* What directors are correlated with high ratings? (IMDB)
* What genres of movies are correlated with low budgets? (TN + IMDB/TMDB)
* Does runtime affect rating? (IMDB)
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [2]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows = 200
%matplotlib inline

In [3]:
#import Box Office Mojo Data
bom_df = pd.read_csv('data/zippedData/bom.movie_gross.csv.gz',compression='gzip')
bom_df.info()
bom_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [4]:
#import IMDB actor/crew name data
imdb_name_df = pd.read_csv('data/zippedData/imdb.name.basics.csv.gz',compression='gzip')
imdb_name_df.info()
imdb_name_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
nconst                606648 non-null object
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [5]:
#import IMDB title aka data
imdb_title_akas_df = pd.read_csv('data/zippedData/imdb.title.akas.csv.gz', compression='gzip')
imdb_title_akas_df.info()
imdb_title_akas_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
title_id             331703 non-null object
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [6]:
#import IMDB title/basic info data
imdb_title_basics_df = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz', compression='gzip')
imdb_title_basics_df.info()
imdb_title_basics_df.head()
#looks like apostrophes print correctly

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [7]:
#import IMDB title/crew data
#not necessary for this analysis
imdb_title_crew_df = pd.read_csv('data/zippedData/imdb.title.crew.csv.gz', compression='gzip')
imdb_title_crew_df.info()
imdb_title_crew_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [8]:
#import IMDB principals data
imdb_title_principals_df = pd.read_csv('data/zippedData/imdb.title.principals.csv.gz', compression='gzip')
imdb_title_principals_df.info()
imdb_title_principals_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [9]:
#import IMDB title ratings data
imdb_title_ratings_df = pd.read_csv('data/zippedData/imdb.title.ratings.csv.gz', compression='gzip')
imdb_title_ratings_df.info()
imdb_title_ratings_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [10]:
#import Rotten Tomatoes movie data
#not necessary for this analysis
rt_info_df = pd.read_csv('data/zippedData/rt.movie_info.tsv.gz',delimiter = '\t',encoding='latin1', 
                         compression='gzip')
rt_info_df.info()
rt_info_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
id              1560 non-null int64
synopsis        1498 non-null object
rating          1557 non-null object
genre           1552 non-null object
director        1361 non-null object
writer          1111 non-null object
theater_date    1201 non-null object
dvd_date        1201 non-null object
currency        340 non-null object
box_office      340 non-null object
runtime         1530 non-null object
studio          494 non-null object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [11]:
#import Rotten Tomatoes reviews
#not necessary for this analysis
#this data has an issue with delimiters which is throwing this error:
#  ParserError: Error tokenizing data. C error
#Whew!  The below code works.  Encoding is latin1 and need to specify tab instead of comma delimiter
rt_reviews_df = pd.read_csv('data/zippedData/rt.reviews.tsv.gz',delimiter = '\t',encoding='latin1', compression='gzip')
rt_reviews_df.info()
rt_reviews_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
id            54432 non-null int64
review        48869 non-null object
rating        40915 non-null object
fresh         54432 non-null object
critic        51710 non-null object
top_critic    54432 non-null int64
publisher     54123 non-null object
date          54432 non-null object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [12]:
#import The Movie Database (TMDb) data
tmdb_df = pd.read_csv('data/zippedData/tmdb.movies.csv.gz')
tmdb_df.info()
tmdb_df.head()

#print(tmdb_df.loc[(tmdb_df['title']).str.contains("'")]) #checking to see if apostrophes are there. Yes they are

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [13]:
#import TN budget data

tn_budgets_df = pd.read_csv('data/zippedData/tn.movie_budgets.csv.gz', compression='gzip')
tn_budgets_df.info()
tn_budgets_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [28]:
# create ratings vs runtime df
runtime_ratings_df = imdb_title_basics_df.merge(imdb_title_ratings_df,how='left', on='tconst')
runtime_ratings_df.drop(columns='primary_title', inplace=True)

# drop rows with no ratings or runtime
runtime_ratings_df.dropna(subset=['averagerating','runtime_minutes'], inplace=True)

#drop rows with number of votes < 100
runtime_ratings_df = runtime_ratings_df.loc[runtime_ratings_df['numvotes'] >= 100]

#add Popularity column (product of averagerating and numvotes)
runtime_ratings_df['popularity'] = (runtime_ratings_df['averagerating'])*runtime_ratings_df['numvotes']

runtime_ratings_df.info()
# runtime_ratings_df.describe()
runtime_ratings_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27978 entries, 2 to 146122
Data columns (total 8 columns):
tconst             27978 non-null object
original_title     27978 non-null object
start_year         27978 non-null int64
runtime_minutes    27978 non-null float64
genres             27965 non-null object
averagerating      27978 non-null float64
numvotes           27978 non-null float64
popularity         27978 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.9+ MB

,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,popularity
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0,31167.3
4,tt0100275,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0,773.5
7,tt0137204,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263.0,2130.3
10,tt0146592,Pál Adrienn,2010,136.0,Drama,6.8,451.0,3066.8
13,tt0162942,A zöld sárkány gyermekei,2010,89.0,Drama,6.9,120.0,828.0

In [112]:
#clean up tmdb data

#drop unnecessary columns
tmdb_df = tmdb_df.drop(columns = ['Unnamed: 0','original_title','original_language','id'])

tmdb_df

,genre_ids,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...
26512,"[27, 18]",0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"[18, 53]",0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",0.600,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",0.600,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",0.600,2018-10-05,The Church,0.0,1

In [113]:
#explore tmdb data

tmdb_df.describe() # shows that most movies have fewer than 28 votes
tmdb_df.quantile(0.86) # only around 14% of movies have more than 100 votes
tmdb_df.head()

#db is currently ordered by popularity
#popularity column seems to be a combo of vote_average and vote_count, but not sure what the formula is

,genre_ids,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27.920,2010-07-16,Inception,8.3,22186

How TMDB calculates Popularity metric for movies:

Number of votes for the day
Number of views for the day
Number of users who marked it as a "favourite" for the day
Number of users who added it to their "watchlist" for the day
Release date
Number of total votes
Previous days score

In [114]:
#clean up tmdb data - drop rows with fewer than 100 votes

tmdb_df = tmdb_df.loc[tmdb_df['vote_count'] >= 100] 
tmdb_df.describe() #only 3686 movies remain

        popularity  vote_average    vote_count
count  3686.000000   3686.000000   3686.000000
mean     11.281023      6.389392   1325.535269
std       6.196958      0.862305   2270.643058
min       0.600000      2.000000    100.000000
25%       7.557750      5.800000    186.000000
50%       9.395000      6.400000    422.000000
75%      12.894000      7.000000   1306.000000
max      80.773000      8.600000  22186.000000

In [115]:
#clean up tmdb data - investigate dups
#(I also did a bit of dup investigation before removing rows with fewer than 100 votes.
#It didn't look like the same movies and votes counted differernt places - lines were exactly alike or not same movie)

tmdb_df.duplicated(keep = False).sum() # there are 615 dup rows
# tmdb_df['title'].duplicated(keep = False).sum() #there are 645 dup titles

#let's drop the dup rows since they are clearly the same movie
tmdb_df = tmdb_df.drop_duplicates(keep = 'first')

tmdb_df['title'].duplicated(keep = False).sum() #still 33 dup titles

tmdb_df['dup_title'] = tmdb_df['title'].duplicated(keep=False) # add a column showing whether title is a dup

#investigate remaining dup titles
tmdb_df_dups = (tmdb_df.loc[tmdb_df['dup_title'] == True]).sort_values(by=['title'])
tmdb_df_dups.head(50)
tmdb_df_dups.info()
#these are not the same movie, but must add year if joining on title.  They all have different years

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 11370 to 14240
Data columns (total 7 columns):
genre_ids       33 non-null object
popularity      33 non-null float64
release_date    33 non-null object
title           33 non-null object
vote_average    33 non-null float64
vote_count      33 non-null int64
dup_title       33 non-null bool
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 1.8+ KB

In [116]:
#create year column
tmdb_df['release_year'] = ((tmdb_df['release_date']).str[0:4]).astype(int)

# create title_year column for merge
tmdb_df['title_year'] = (tmdb_df['title'] + '_' + tmdb_df['release_year'].astype(str))
tmdb_df.head()

,genre_ids,popularity,release_date,title,vote_average,vote_count,dup_title,release_year,title_year
0,"[12, 14, 10751]",33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,False,2010,Harry Potter and the Deathly Hallows: Part 1_2010
1,"[14, 12, 16, 10751]",28.734,2010-03-26,How to Train Your Dragon,7.7,7610,False,2010,How to Train Your Dragon_2010
2,"[12, 28, 878]",28.515,2010-05-07,Iron Man 2,6.8,12368,False,2010,Iron Man 2_2010
3,"[16, 35, 10751]",28.005,1995-11-22,Toy Story,7.9,10174,False,1995,Toy Story_1995
4,"[28, 878, 12]",27.920,2010-07-16,Inception,8.3,22186,False,2010,Inception_2010

In [117]:
#Clean up tn_budgets_df

#looks like the data is organized in order of production budget
#the data has no null values, but that doesn't mean it doesn't have placeholders.  I don't see any at first blush
#it does look like there is a problem with apostrophes.  They render as funny characters
#example: # Pirates of the Caribbean: Dead Manâs Chest
#some foreign characters also don't render correctly, like the c in fiance
# the id column is weird, it repeats every 100
#so to clean, take movies from last 20 years, nix id column, and find a way to replace apostrophes?

#first, make a year column.  currently the date is a string.  then, restrict year to >= 2000
tn_budgets_df['release_year'] = ((tn_budgets_df['release_date']).str.slice(start=-4)).astype(int) #create release_year column
tn_budgets_df = tn_budgets_df.loc[tn_budgets_df['release_year'] >= 2000] # change df to only include movies from 2000 on

tn_budgets_df.drop(columns = ['id'], inplace=True) #drop 'id' column

tn_budgets_df['movie'].replace(to_replace='â', value = "'") #replace with regular apostrophes.  It doesn't work, the weird characters don't get replaced
# print(tn_budgets_df.loc[(tn_budgets_df['movie']).str.contains("'")]) #checking to see if apostrophes are there
# print(tn_budgets_df.loc[(tn_budgets_df['movie']).str.contains('â')]) # but movies with the weird apostrophe are still here too!
#maybe it's not a big deal - there are only 40 movies with the weird character
#checked to see if compression=gzip fixed the apostrophe issue, it does not

#reset index and drop old index column:
tn_budgets_df.reset_index(inplace=True) 
tn_budgets_df.drop(columns = ['index'], inplace=True)

#cast numeric columns as int
tn_budgets_df['production_budget'] = tn_budgets_df['production_budget'].str.replace('$','').str.replace(',','').astype(int)

tn_budgets_df.info()
# tn_budgets_df.describe()
# tn_budgets_df.head()
# tn_budgets_df[500:550]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4387 entries, 0 to 4386
Data columns (total 6 columns):
release_date         4387 non-null object
movie                4387 non-null object
production_budget    4387 non-null int64
domestic_gross       4387 non-null object
worldwide_gross      4387 non-null object
release_year         4387 non-null int64
dtypes: int64(2), object(4)
memory usage: 205.8+ KB

In [91]:
#function to cast numeric columns as int.  #but it didn't work.  why?
def convert_to_int(column):
    column = column.str.replace('$','').str.replace(',','').astype(int)

In [92]:
#testing function.  did not work
convert_to_int(tn_budgets_df['domestic_gross'])
convert_to_int(tn_budgets_df['worldwide_gross'])

In [93]:
#convert these columns anyway
tn_budgets_df['worldwide_gross'] = tn_budgets_df['worldwide_gross'].str.replace('$','').str.replace(',','').astype(int)
tn_budgets_df['domestic_gross'] = tn_budgets_df['domestic_gross'].str.replace('$','').str.replace(',','').astype(int)

In [94]:
tn_budgets_df.info()
# tn_budgets_df.describe()
# tn_budgets_df.head(50)
# tn_budgets_df[500:550]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4387 entries, 0 to 4386
Data columns (total 6 columns):
release_date         4387 non-null object
movie                4387 non-null object
production_budget    4387 non-null int64
domestic_gross       4387 non-null int64
worldwide_gross      4387 non-null int64
release_year         4387 non-null int64
dtypes: int64(4), object(2)
memory usage: 205.8+ KB

In [95]:
#checking tn_budgets_df for duplicates

tn_budgets_df.duplicated().sum() # no duplicate rows
tn_budgets_df['movie'].duplicated(keep = False).sum() # only 45 duplicate titles

#I should write a function for all the below, with inputs df and column name
tn_budgets_df['dup_title'] = tn_budgets_df['movie'].duplicated(keep=False) # add a column showing whether title is a dup

#investigate remaining dup titles
tn_budgets_df_dups = (tn_budgets_df.loc[tn_budgets_df['dup_title'] == True]).sort_values(by=['movie'])
tn_budgets_df_dups
# tn_budgets_df_dups.info()
#most are not the same movie, but must add year if joining on title.  
#The only one with the same year is "Home", possibly this is the same movie

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,dup_title
2577,"Aug 14, 2015",Brothers,13000000,656688,17856688,2015,True
1715,"Dec 4, 2009",Brothers,26000000,28544157,45043870,2009,True
2524,"Dec 31, 2008",Ca$h,13700000,0,11738256,2008,True
3126,"Mar 26, 2010",Ca$h,7000000,46488,46488,2010,True
4160,"Jun 23, 2015",Crossroads,500000,0,0,2015,True
2615,"Feb 15, 2002",Crossroads,12000000,37188667,57000000,2002,True
2099,"Aug 17, 2007",Death at a Funeral,20000000,8580428,46790428,2007,True
1956,"Apr 16, 2010",Death at a Funeral,21000000,42739347,48977233,2010,True
287,"Aug 7, 2015",Fantastic Four,120000000,56117548,167849187,2015,True
450,"Jul 8, 2005",Fantastic Four,87500000,154696080,333132750,2005,True
2370,"Aug 31, 2007",Halloween,15000000,58269151,77514401,2007,True
2735,"Oct 19, 2018",Halloween,10000000,159342015,254900667,2018,True
2958,"Nov 13, 2015",Heist,8900000,50136,3324131,2015,True
1384,"Nov 9, 2001",Heist,35000000,23483357,28906817,2001,True
983,"Apr 12, 2019",Hellboy,50000000,21903748,40725492,2019,True
761,"Apr 2, 2004",Hellboy,60000000,59623958,99823958,2004,True
2683,"Jun 5, 2009",Home,12000000,0,0,2009,True
4135,"Apr 23, 2009",Home,500000,15433,44793168,2009,True
236,"Mar 27, 2015",Home,130000000,177397510,385997896,2015,True
2192,"Feb 2, 2001",Left Behind,18500000,4221341,4221341,2001,True
2334,"Oct 3, 2014",Left Behind,16000000,14019924,20769209,2014,True
38,"May 14, 2010",Robin Hood,210000000,105487148,322459006,2010,True
386,"Nov 21, 2018",Robin Hood,99000000,30824628,84747441,2018,True
1829,"Jan 25, 2019",Serenity,25000000,8547045,11367029,2019,True
1261,"Sep 30, 2005",Serenity,39000000,25514517,40319440,2005,True
1608,"Jun 14, 2019",Shaft,30000000,600000,600000,2019,True
891,"Jun 16, 2000",Shaft,53012938,70327868,107190108,2000,True
4263,"Sep 9, 2005",Side Effects,200000,44701,44701,2005,True
1552,"Feb 8, 2013",Side Effects,30000000,32172757,66742138,2013,True
2377,"Feb 22, 2013",Snitch,15000000,42930462,57907734,2013,True
4055,"Dec 31, 2012",Snitch,850000,0,0,2012,True
4286,"Mar 1, 2002",The Calling,160000,32092,32092,2002,True
3666,"Dec 31, 2009",The Calling,2500000,0,0,2009,True
2796,"Dec 19, 2000",The Gift,10000000,12008642,44567606,2000,True
3275,"Aug 7, 2015",The Gift,5000000,43787265,58978477,2015,True
3458,"Jun 13, 2014",The Signal,4000000,600896,2665322,2014,True
4333,"Feb 22, 2008",The Signal,50000,251150,406299,2008,True
3793,"Apr 9, 2010",The Square,1900000,406216,740932,2010,True
3853,"Oct 25, 2013",The Square,1500000,124244,176262,2013,True
4036,"Dec 31, 2012",Trance,950000,0,0,2012,True
2343,"Apr 5, 2013",Trance,16000000,2322593,22594052,2013,True
1161,"Feb 18, 2011",Unknown,40000000,63686397,136123083,2011,True
3499,"Nov 3, 2006",Unknown,3700000,26403,3355048,2006,True
292,"Oct 5, 2018",Venom,116000000,213511408,853628605,2018,True
1848,"Sep 16, 2005",Venom,25000000,881745,881745,2005,True

In [96]:
#clean up tn_budgets_df data - add a column for joining
tn_budgets_df['title_year'] = (tn_budgets_df['movie'] + '_' + tn_budgets_df['release_year'].astype(str))
tn_budgets_df.head(200)

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,dup_title,title_year
0,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,2009,False,Avatar_2009
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2011,False,Pirates of the Caribbean: On Stranger Tides_2011
2,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,2019,False,Dark Phoenix_2019
3,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,2015,False,Avengers: Age of Ultron_2015
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,2017,False,Star Wars Ep. VIII: The Last Jedi_2017
5,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,2015,False,Star Wars Ep. VII: The Force Awakens_2015
6,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,2018,False,Avengers: Infinity War_2018
7,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,300000000,309420425,963420425,2007,False,Pirates of the Caribbean: At Worldâs End_2007
8,"Nov 17, 2017",Justice League,300000000,229024295,655945209,2017,False,Justice League_2017
9,"Nov 6, 2015",Spectre,300000000,200074175,879620923,2015,False,Spectre_2015
10,"Jul 20, 2012",The Dark Knight Rises,275000000,448139099,1084439099,2012,False,The Dark Knight Rises_2012
11,"May 25, 2018",Solo: A Star Wars Story,275000000,213767512,393151347,2018,False,Solo: A Star Wars Story_2018
12,"Jul 2, 2013",The Lone Ranger,275000000,89302115,260002115,2013,False,The Lone Ranger_2013
13,"Mar 9, 2012",John Carter,275000000,73058679,282778100,2012,False,John Carter_2012
14,"Nov 24, 2010",Tangled,260000000,200821936,586477240,2010,False,Tangled_2010
15,"May 4, 2007",Spider-Man 3,258000000,336530303,894860230,2007,False,Spider-Man 3_2007
16,"May 6, 2016",Captain America: Civil War,250000000,408084349,1140069413,2016,False,Captain America: Civil War_2016
17,"Mar 25, 2016",Batman v Superman: Dawn of Justice,250000000,330360194,867500281,2016,False,Batman v Superman: Dawn of Justice_2016
18,"Dec 14, 2012",The Hobbit: An Unexpected Journey,250000000,303003568,1017003568,2012,False,The Hobbit: An Unexpected Journey_2012
19,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,250000000,302089278,935213767,2009,False,Harry Potter and the Half-Blood Prince_2009
20,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,250000000,258366855,960366855,2013,False,The Hobbit: The Desolation of Smaug_2013
21,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,250000000,255119788,945577621,2014,False,The Hobbit: The Battle of the Five Armies_2014
22,"Apr 14, 2017",The Fate of the Furious,250000000,225764765,1234846267,2017,False,The Fate of the Furious_2017
23,"Jun 28, 2006",Superman Returns,232000000,200120000,374085065,2006,False,Superman Returns_2006
24,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,230000000,172558876,788241137,2017,False,Pirates of the Caribbean: Dead Men Tell No Tal...
25,"Nov 14, 2008",Quantum of Solace,230000000,169368427,591692078,2008,False,Quantum of Solace_2008
26,"May 4, 2012",The Avengers,225000000,623279547,1517935897,2012,False,The Avengers_2012
27,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,225000000,423315812,1066215812,2006,False,Pirates of the Caribbean: Dead Manâs Chest_2006
28,"Jun 14, 2013",Man of Steel,225000000,291045518,667999518,2013,False,Man of Steel_2013
29,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,225000000,141621490,417341288,2008,False,The Chronicles of Narnia: Prince Caspian_2008
30,"Jul 3, 2012",The Amazing Spider-Man,220000000,262030663,757890267,2012,False,The Amazing Spider-Man_2012
31,"May 18, 2012",Battleship,220000000,65233400,313477717,2012,False,Battleship_2012
32,"Jun 21, 2017",Transformers: The Last Knight,217000000,130168683,602893340,2017,False,Transformers: The Last Knight_2017
33,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864,2015,False,Jurassic World_2015
34,"May 25, 2012",Men in Black 3,215000000,179020854,654213485,2012,False,Men in Black 3_2012
35,"Jun 24, 2009",Transformers: Revenge of the Fallen,210000000,402111870,836519699,2009,False,Transformers: Revenge of the Fallen_2009
36,"Jun 27, 2014",Transformers: Age of Extinction,210000000,245439076,1104039076,2014,False,Transformers: Age of Extinction_2014
37,"May 26, 2006",X-Men: The Last Stand,210000000,234362462,459260946,2006,False,X-Men: The Last Stand_2006
38,"May 14, 2010",Robin Hood,210000000,105487148,322459006,2010,True,Robin Hood_2010
39,"Dec 14, 2005",King Kong,207000000,218080025,550517357,2005,False,King Kong_2005
40,"Dec 7, 2007",The Golden Compass,205000000,70107728,367262558,2007,False,The Golden Compass_2007
41,"Feb 16, 2018",Black Panther,200000000,700059566,1348258224,2018,False,Black Panther_2018
42,"Jun 15, 2018",Incredibles 2,200000000,608581744,1242520711,2018,False,Incredibles 2_2018
43,"Dec 16, 2016",Rogue One: A Star Wars Story,200000000,532177324,1049102856,2016,False,Rogue One: A Star Wars Story_2016
44,"Jun 17, 2016",Finding Dory,200000000,486295561,1021215193,2016,False,Finding Dory_2016
45,"Jun 18, 2010",Toy Story 3,200000000,415004880,1068879522,2010,False,Toy Story 3_2010
46,"May 3, 2013",Iron Man 3,200000000,408992272,1215392272,2013,False,Iron Man 3_2013
47,"May 5, 2017",Guardians of the Galaxy Vol 2,200000000,389813101,862316233,2017,False,Guardians of the Galaxy Vol 2_2017
48,"Jun 30, 2004",Spider-Man 2,200000000,373524485,795110670,2004,False,Spider-Man 2_2004
49,"Mar 5, 2010",Alice in Wonderland,200000000,334191110,1025491110,2010,False,Alice in Wonderland_2010
50,"Nov 8, 2012",Skyfall,200000000,304360277,1110526981,2012,False,Skyfall_2012
51,"Jun 21, 2013",Monsters University,200000000,268488329,743588329,2013,False,Monsters University_2013
52,"Mar 8, 2013",Oz the Great and Powerful,200000000,234770996,490359051,2013,False,Oz the Great and Powerful_2013
53,"May 23, 2014",X-Men: Days of Future Past,200000000,233921534,747862775,2014,False,X-Men: Days of Future Past_2014
54,"May 2, 2014",The Amazing Spider-Man 2,200000000,202853933,708996336,2014,False,The Amazing Spider-Man 2_2014
55,"Jun 24, 2011",Cars 2,200000000,191450875,560155383,2011,False,Cars 2_2011
56,"Dec 17, 2010",Tron: Legacy,200000000,172062763,400062763,2010,False,Tron: Legacy_2010
57,"Nov 13, 2009",2012,200000000,166112167,757677748,2009,False,2012_2009
58,"Nov 16, 2018",Fantastic Beasts: The Crimes of Grindelwald,200000000,159555901,652220086,2018,False,Fantastic Beasts: The Crimes of Grindelwald_2018
59,"May 21, 2009",Terminator Salvation,200000000,125322469,365491792,2009,False,Terminator Salvation_2009
60,"Jun 17, 2011",Green Lantern,200000000,116601172,219535492,2011,False,Green Lantern_2011
61,"May 28, 2010",Prince of Persia: Sands of Time,200000000,90759676,336359676,2010,False,Prince of Persia: Sands of Time_2010
62,"Jun 29, 2011",Transformers: Dark of the Moon,195000000,352390543,1123790543,2011,False,Transformers: Dark of the Moon_2011
63,"Jun 9, 2017",The Mummy,195000000,80101125,409953905,2017,False,The Mummy_2017
64,"Mar 1, 2013",Jack the Giant Slayer,195000000,65187603,197687603,2013,False,Jack the Giant Slayer_2013
65,"Apr 3, 2015",Furious 7,190000000,353007020,1518722794,2015,False,Furious 7_2015
66,"May 16, 2013",Star Trek Into Darkness,190000000,228778661,467381584,2013,False,Star Trek Into Darkness_2013
67,"Jun 21, 2013",World War Z,190000000,202359711,531514650,2013,False,World War Z_2013
68,"May 10, 2013",The Great Gatsby,190000000,144840419,351040419,2013,False,The Great Gatsby_2013
69,"Nov 6, 2009",Disneyâs A Christmas Carol,190000000,137855863,315709697,2009,False,Disneyâs A Christmas Carol_2009
70,"Jul 12, 2013",Pacific Rim,190000000,101802906,411002906,2013,False,Pacific Rim_2013
71,"Nov 25, 2015",The Good Dinosaur,187500000,123087120,333771037,2015,False,The Good Dinosaur_2015
72,"May 2, 2008",Iron Man,186000000,318604126,585171547,2008,False,Iron Man_2008
73,"Jul 18, 2008",The Dark Knight,185000000,533720947,1001996207,2008,False,The Dark Knight_2008
74,"May 22, 2008",Indiana Jones and the Kingdom of the Crystal S...,185000000,317101119,786635413,2008,False,Indiana Jones and the Kingdom of the Crystal S...
75,"Jun 22, 2012",Brave,185000000,237282182,554606532,2012,False,Brave_2012
76,"Mar 10, 2017",Kong: Skull Island,185000000,168052812,561072059,2017,False,Kong: Skull Island_2017
77,"Jul 22, 2016",Star Trek Beyond,185000000,158848340,335802233,2016,False,Star Trek Beyond_2016
78,"Oct 6, 2017",Blade Runner 2049,185000000,92054159,259357408,2017,False,Blade Runner 2049_2017
79,"May 24, 2019",Aladdin,182000000,246734314,619234314,2019,False,Aladdin_2019
80,"Nov 3, 2017",Thor: Ragnarok,180000000,315058289,846980024,2017,False,Thor: Ragnarok_2017
81,"Dec 9, 2005","The Chronicles of Narnia: The Lion, the Witch ...",180000000,291710957,720539572,2005,False,"The Chronicles of Narnia: The Lion, the Witch ..."
82,"May 30, 2014",Maleficent,180000000,241407328,758536735,2014,False,Maleficent_2014
83,"Nov 18, 2016",Fantastic Beasts and Where to Find Them,180000000,234037575,802402853,2016,False,Fantastic Beasts and Where to Find Them_2016
84,"Jun 27, 2008",WALL-E,180000000,223808164,532508025,2008,False,WALL-E_2008
85,"Aug 10, 2007",Rush Hour 3,180000000,140125968,256585882,2007,False,Rush Hour 3_2007
86,"Jul 1, 2016",The Legend of Tarzan,180000000,126643061,348902025,2016,False,The Legend of Tarzan_2016
87,"Nov 23, 2011",Hugo,180000000,73864507,180047784,2011,False,Hugo_2011
88,"Jul 21, 2017",Valerian and the City of a Thousand Planets,180000000,40479370,215098356,2017,False,Valerian and the City of a Thousand Planets_2017
89,"Feb 6, 2015",Jupiter Ascending,179000000,47482519,181982519,2015,False,Jupiter Ascending_2015
90,"Jul 27, 2018",Mission: ImpossibleâFallout,178000000,220159104,787456552,2018,False,Mission: ImpossibleâFallout_2018
91,"May 27, 2016",X-Men: Apocalypse,178000000,155442489,542537546,2016,False,X-Men: Apocalypse_2016
92,"Aug 10, 2018",The Meg,178000000,145443742,529530715,2018,False,The Meg_2018
93,"Jun 6, 2014",Edge of Tomorrow,178000000,100206256,370541256,2014,False,Edge of Tomorrow_2014
94,"Mar 8, 2019",Captain Marvel,175000000,426525952,1123061550,2019,False,Captain Marvel_2019
95,"Apr 15, 2016",The Jungle Book,175000000,364001123,962854547,2016,False,The Jungle Book_2016
96,"Jun 19, 2015",Inside Out,175000000,356461711,854235992,2015,False,Inside Out_2015
97,"Jul 7, 2017",Spider-Man: Homecoming,175000000,334201140,880166350,2017,False,Spider-Man: Homecoming_2017
98,"Aug 5, 2016",Suicide Squad,175000000,325100054,746059887,2016,False,Suicide Squad_2016
99,"May 29, 2009",Up,175000000,293004164,731463377,2009,False,Up_2009
100,"Nov 22, 2017",Coco,175000000,209726015,798008101,2017,False,Coco_2017
101,"Nov 21, 2018",Ralph Breaks The Internet,175000000,201091711,524283695,2018,False,Ralph Breaks The Internet_2018
102,"Mar 27, 2009",Monsters vs. Aliens,175000000,198351526,381687380,2009,False,Monsters vs. Aliens_2009
103,"Jun 16, 2017",Cars 3,175000000,152901115,383541369,2017,False,Cars 3_2017
104,"Aug 7, 2009",G.I. Joe: The Rise of Cobra,175000000,150201498,302469017,2009,False,G.I. Joe: The Rise of Cobra_2009
105,"Aug 1, 2008",The Mummy: Tomb of the Dragon Emperor,175000000,102491776,405760225,2008,False,The Mummy: Tomb of the Dragon Emperor_2008
106,"Jun 22, 2007",Evan Almighty,175000000,100289690,174131329,2007,False,Evan Almighty_2007
107,"May 12, 2017",King Arthur: Legend of the Sword,175000000,39175066,139630336,2017,False,King Arthur: Legend of the Sword_2017
108,"Dec 25, 2013",47 Ronin,175000000,38362475,151716815,2013,False,47 Ronin_2013
109,"Jun 22, 2018",Jurassic World: Fallen Kingdom,170000000,417719760,1305772799,2018,False,Jurassic World: Fallen Kingdom_2018
110,"Aug 1, 2014",Guardians of the Galaxy,170000000,333172112,770867516,2014,False,Guardians of the Galaxy_2014
111,"May 7, 2010",Iron Man 2,170000000,312433331,621156389,2010,False,Iron Man 2_2010
112,"Apr 4, 2014",Captain America: The Winter Soldier,170000000,259746958,714401889,2014,False,Captain America: The Winter Soldier_2014
113,"Jul 11, 2014",Dawn of the Planet of the Apes,170000000,208545589,710644566,2014,False,Dawn of the Planet of the Apes_2014
114,"Nov 10, 2004",The Polar Express,170000000,187224605,311365187,2004,False,The Polar Express_2004
115,"Jun 1, 2012",Snow White and the Huntsman,170000000,155136755,401021746,2012,False,Snow White and the Huntsman_2012
116,"Jul 1, 2003",Terminator 3: Rise of the Machines,170000000,150358296,433058296,2003,False,Terminator 3: Rise of the Machines_2003
117,"May 7, 2004",Van Helsing,170000000,120150546,300150546,2004,False,Van Helsing_2004
118,"Mar 29, 2019",Dumbo,170000000,113883318,345004422,2019,False,Dumbo_2019
119,"May 22, 2015",Tomorrowland,170000000,93436322,206627518,2015,False,Tomorrowland_2015
120,"Feb 14, 2019",Alita: Battle Angel,170000000,85710210,402976036,2019,False,Alita: Battle Angel_2019
121,"May 31, 2019",Godzilla: King of the Monsters,170000000,85576941,299276941,2019,False,Godzilla: King of the Monsters_2019
122,"May 27, 2016",Alice Through the Looking Glass,170000000,77042381,276928112,2016,False,Alice Through the Looking Glass_2016
123,"May 21, 2010",Shrek Forever After,165000000,238736787,756244673,2010,False,Shrek Forever After_2010
124,"Nov 4, 2016",Doctor Strange,165000000,232641920,676404566,2016,False,Doctor Strange_2016
125,"Nov 7, 2014",Big Hero 6,165000000,222527828,652127828,2014,False,Big Hero 6_2014
126,"Mar 26, 2010",How to Train Your Dragon,165000000,217581232,494870992,2010,False,How to Train Your Dragon_2010
127,"Nov 2, 2012",Wreck-It Ralph,165000000,189412677,496511521,2012,False,Wreck-It Ralph_2012
128,"Nov 5, 2014",Interstellar,165000000,188017894,666379375,2014,False,Interstellar_2014
129,"Jun 24, 2016",Independence Day: Resurgence,165000000,103144286,384169424,2016,False,Independence Day: Resurgence_2016
130,"Jul 29, 2011",Cowboys and Aliens,163000000,100368560,176038324,2011,False,Cowboys and Aliens_2011
131,"Mar 17, 2017",Beauty and the Beast,160000000,504014165,1259199706,2017,False,Beauty and the Beast_2017
132,"Dec 21, 2018",Aquaman,160000000,335061807,1146894640,2018,False,Aquaman_2018
133,"May 17, 2007",Shrek the Third,160000000,322719944,807330936,2007,False,Shrek the Third_2007
134,"Jul 16, 2010",Inception,160000000,292576195,835524642,2010,False,Inception_2010
135,"Nov 20, 2015",The Hunger Games: Mockingjay - Part 2,160000000,281723902,648986787,2015,False,The Hunger Games: Mockingjay - Part 2_2015
136,"May 24, 2013",Fast and Furious 6,160000000,238679850,789300444,2013,False,Fast and Furious 6_2013
137,"May 16, 2014",Godzilla,160000000,200676069,529076069,2014,False,Godzilla_2014
138,"Jun 3, 2011",X-Men: First Class,160000000,146408305,355408305,2011,False,X-Men: First Class_2011
139,"Dec 25, 2008",The Curious Case of Benjamin Button,160000000,127509326,329631958,2008,False,The Curious Case of Benjamin Button_2008
140,"Jul 14, 2010",The Sorcerer's Apprentice,160000000,63150991,217986320,2010,False,The Sorcerer's Apprentice_2010
141,"May 12, 2006",Poseidon,160000000,60674817,181674817,2006,False,Poseidon_2006
142,"Jun 10, 2016",Warcraft,160000000,47225655,425522281,2016,False,Warcraft_2016
143,"Sep 30, 2016",Deepwater Horizon,156000000,61433527,122603824,2016,False,Deepwater Horizon_2016
144,"Dec 10, 2010",The Chronicles of Narnia: The Voyage of the Da...,155000000,104386950,418186950,2010,False,The Chronicles of Narnia: The Voyage of the Da...
145,"Jul 1, 2015",Terminator: Genisys,155000000,89760956,432150894,2015,False,Terminator: Genisys_2015
146,"Mar 23, 2018",Pacific Rim: Uprising,155000000,59874525,290930148,2018,False,Pacific Rim: Uprising_2018
147,"Nov 24, 2004",Alexander,155000000,34297191,167297191,2004,False,Alexander_2004
148,"Jul 14, 2017",War for the Planet of the Apes,152000000,146880162,489592267,2017,False,War for the Planet of the Apes_2017
149,"May 25, 2001",Pearl Harbor,151500000,198539855,449239855,2001,False,Pearl Harbor_2001
150,"Jul 2, 2007",Transformers,151000000,319246193,708272592,2007,False,Transformers_2007
151,"Jun 2, 2017",Wonder Woman,150000000,412563408,821133378,2017,False,Wonder Woman_2017
152,"Nov 22, 2013",Frozen,150000000,400738009,1272469910,2013,False,Frozen_2013
153,"Mar 4, 2016",Zootopia,150000000,341268248,1019429616,2016,False,Zootopia_2016
154,"Jul 11, 2007",Harry Potter and the Order of the Phoenix,150000000,292137260,943076457,2007,False,Harry Potter and the Order of the Phoenix_2007
155,"Nov 18, 2005",Harry Potter and the Goblet of Fire,150000000,290201752,897099794,2005,False,Harry Potter and the Goblet of Fire_2005
156,"May 15, 2003",The Matrix Reloaded,150000000,281553689,738576929,2003,False,The Matrix Reloaded_2003
157,"Dec 14, 2007",I am Legend,150000000,256393010,585532684,2007,False,I am Legend_2007
158,"Nov 23, 2016",Moana,150000000,248757044,637517365,2016,False,Moana_2016
159,"Jul 1, 2008",Hancock,150000000,227946274,624234272,2008,False,Hancock_2008
160,"Jul 15, 2005",Charlie and the Chocolate Factory,150000000,206459076,475825484,2005,False,Charlie and the Chocolate Factory_2005
161,"Jun 29, 2007",Ratatouille,150000000,206445654,626549695,2007,False,Ratatouille_2007
162,"Nov 8, 2013",Thor: The Dark World,150000000,206362140,644602516,2013,False,Thor: The Dark World_2013
163,"Jun 15, 2005",Batman Begins,150000000,205343774,359142722,2005,False,Batman Begins_2005
164,"Jul 31, 2015",Mission: ImpossibleâRogue Nation,150000000,195042377,688858992,2015,False,Mission: ImpossibleâRogue Nation_2015
165,"Jul 21, 2017",Dunkirk,150000000,190068280,499837368,2017,False,Dunkirk_2017
166,"May 6, 2011",Thor,150000000,181030624,449326618,2011,False,Thor_2011
167,"Nov 7, 2008",Madagascar: Escape 2 Africa,150000000,180174880,599680774,2008,False,Madagascar: Escape 2 Africa_2008
168,"May 1, 2009",X-Men Origins: Wolverine,150000000,179883157,374825760,2009,False,X-Men Origins: Wolverine_2009
169,"May 22, 2009",Night at the Museum: Battle of the Smithsonian,150000000,177243721,402231063,2009,False,Night at the Museum: Battle of the Smithsonian...
170,"May 26, 2011",Kung Fu Panda 2,150000000,165249063,664837547,2011,False,Kung Fu Panda 2_2011
171,"May 15, 2015",Mad Max: Fury Road,150000000,153636354,370098020,2015,False,Mad Max: Fury Road_2015
172,"May 10, 2019",PokÃ©mon: Detective Pikachu,150000000,139507806,411258433,2019,False,PokÃ©mon: Detective Pikachu_2019
173,"Nov 5, 2003",The Matrix Revolutions,150000000,139270910,427300260,2003,False,The Matrix Revolutions_2003
174,"Mar 29, 2018",Ready Player One,150000000,137690172,579290136,2018,False,Ready Player One_2018
175,"Nov 4, 2005",Chicken Little,150000000,135386665,310043823,2005,False,Chicken Little_2005
176,"May 5, 2006",Mission: Impossible III,150000000,133501348,397501348,2006,False,Mission: Impossible III_2006
177,"May 15, 2009",Angels & Demons,150000000,133375846,490875846,2009,False,Angels & Demons_2009
178,"May 14, 2004",Troy,150000000,133298577,484161265,2004,False,Troy_2004
179,"Jul 1, 2010",The Last Airbender,150000000,131772187,319713881,2010,False,The Last Airbender_2010
180,"Nov 2, 2007",Bee Movie,150000000,126631277,287594577,2007,False,Bee Movie_2007
181,"Jul 24, 2009",G-Force,150000000,119436770,292817841,2009,False,G-Force_2009
182,"Nov 21, 2008",Bolt,150000000,114053579,328015029,2008,False,Bolt_2008
183,"Mar 30, 2012",Wrath of the Titans,150000000,83670083,305270083,2012,False,Wrath of the Titans_2012
184,"Nov 16, 2007",Beowulf,150000000,82280579,195080579,2007,False,Beowulf_2007
185,"May 11, 2012",Dark Shadows,150000000,79727149,238202668,2012,False,Dark Shadows_2012
186,"Jun 28, 2013",White House Down,150000000,73103784,205440387,2013,False,White House Down_2013
187,"Feb 12, 2010",The Wolfman,150000000,62189884,142634358,2010,False,The Wolfman_2010
188,"Feb 17, 2017",The Great Wall,150000000,45157105,334486852,2017,False,The Great Wall_2017
189,"Oct 9, 2015",Pan,150000000,35088320,151525973,2015,False,Pan_2015

In [98]:
#join budgets table to TMDB, to get TMDB ratings

merge_df = pd.merge(tn_budgets_df, tmdb_df, left_on=  ['title_year'],
                   right_on= ['title_year'], 
                   how = 'inner')

# merge_df.info()
merge_df.tail(200)

,release_date_x,movie,production_budget,domestic_gross,worldwide_gross,release_year_x,dup_title_x,title_year,genre_ids,popularity,release_date_y,title,vote_average,vote_count,dup_title_y,release_year_y
1121,"Nov 30, 2018",The Possession of Hannah Grace,6000000,14836174,42785387,2018,False,The Possession of Hannah Grace_2018,"[27, 18]",20.263,2018-11-30,The Possession of Hannah Grace,5.1,393,False,2018
1122,"Sep 7, 2012",The Words,6000000,11494838,16369708,2012,False,The Words_2012,"[18, 53]",7.201,2012-09-07,The Words,6.6,628,False,2012
1123,"Apr 27, 2012",Bernie,6000000,9204489,10106975,2012,False,Bernie_2012,"[35, 80, 18]",7.518,2012-04-27,Bernie,6.6,503,False,2012
1124,"Jul 29, 2011",The Guard,6000000,5359774,21197454,2011,False,The Guard_2011,"[28, 35, 53, 80]",10.177,2011-07-29,The Guard,6.9,563,False,2011
1125,"Jul 18, 2014",Wish I Was Here,6000000,3591299,6591365,2014,False,Wish I Was Here_2014,"[18, 35]",7.845,2014-01-18,Wish I Was Here,6.6,440,False,2014
1126,"Mar 14, 2014",Veronica Mars,6000000,3322127,3485383,2014,False,Veronica Mars_2014,"[35, 18, 80]",7.821,2014-03-14,Veronica Mars,6.7,699,False,2014
1127,"Sep 14, 2018",Mandy,6000000,1214525,1427656,2018,False,Mandy_2018,"[28, 53, 27, 14, 9648]",16.240,2018-09-13,Mandy,6.2,618,False,2018
1128,"Dec 7, 2012",Deadfall,6000000,66351,1673635,2012,False,Deadfall_2012,"[80, 18, 53]",9.491,2012-12-07,Deadfall,5.9,357,False,2012
1129,"Jan 23, 2015",Song One,6000000,32251,437089,2015,False,Song One_2015,[18],6.206,2015-01-23,Song One,5.6,126,False,2015
1130,"May 10, 2011",The Hit List,6000000,0,0,2011,False,The Hit List_2011,"[28, 53]",6.241,2011-04-03,The Hit List,5.4,116,False,2011
1131,"Jul 16, 2010",Valhalla Rising,5700000,30638,731613,2010,False,Valhalla Rising_2010,"[12, 18, 28, 14]",11.260,2010-07-16,Valhalla Rising,6.0,582,False,2010
1132,"Sep 27, 2013",Don Jon,5500000,24477704,41268579,2013,False,Don Jon_2013,"[10749, 35, 18]",12.780,2013-09-27,Don Jon,5.9,2709,False,2013
1133,"Sep 28, 2018",Hell Fest,5500000,11107431,18119231,2018,False,Hell Fest_2018,[27],12.955,2018-09-28,Hell Fest,5.5,273,False,2018
1134,"Oct 21, 2011",Le Havre,5500000,611709,13480196,2011,False,Le Havre_2011,"[18, 35]",5.973,2011-10-21,Le Havre,6.9,169,False,2011
1135,"Jul 19, 2013",Grabbers,5300000,0,440821,2013,False,Grabbers_2013,"[878, 35, 53, 27, 9648]",7.117,2013-07-19,Grabbers,6.1,202,False,2013
1136,"Feb 24, 2017",Get Out,5000000,176040665,255367951,2017,False,Get Out_2017,"[9648, 53, 27]",24.739,2017-02-24,Get Out,7.5,8760,False,2017
1137,"Oct 21, 2011",Paranormal Activity 3,5000000,104028807,207039844,2011,False,Paranormal Activity 3_2011,[27],9.669,2011-10-21,Paranormal Activity 3,5.9,1197,False,2011
1138,"Mar 11, 2016",10 Cloverfield Lane,5000000,72082999,108286422,2016,False,10 Cloverfield Lane_2016,"[53, 878, 18]",17.892,2016-03-11,10 Cloverfield Lane,6.9,4629,False,2016
1139,"Jul 22, 2016",Lights Out,5000000,67268835,148806510,2016,False,Lights Out_2016,"[53, 9648, 27]",12.408,2016-07-22,Lights Out,6.3,2220,False,2016
1140,"Sep 11, 2015",The Visit,5000000,65206105,98677816,2015,False,The Visit_2015,"[27, 53, 9648]",10.196,2015-09-11,The Visit,6.2,2634,False,2015
1141,"Oct 13, 2017",Happy Death Day,5000000,55683845,125010260,2017,False,Happy Death Day_2017,"[27, 9648, 53]",21.230,2017-10-13,Happy Death Day,6.6,3211,False,2017
1142,"Oct 19, 2012",Paranormal Activity 4,5000000,53900335,142817992,2012,False,Paranormal Activity 4_2012,[27],8.965,2012-10-19,Paranormal Activity 4,5.4,1026,False,2012
1143,"Oct 24, 2014",Ouija,5000000,50856010,103300632,2014,False,Ouija_2014,[27],15.389,2014-10-24,Ouija,5.1,1670,False,2014
1144,"Aug 7, 2015",The Gift,5000000,43787265,58978477,2015,True,The Gift_2015,"[53, 9648]",12.097,2015-08-07,The Gift,6.7,1797,False,2015
1145,"Jun 23, 2017",The Big Sick,5000000,42872467,53972860,2017,False,The Big Sick_2017,"[35, 18, 10749]",12.322,2017-06-23,The Big Sick,7.4,1302,False,2017
1146,"Jan 3, 2014",Paranormal Activity: The Marked Ones,5000000,32462372,90904854,2014,False,Paranormal Activity: The Marked Ones_2014,"[27, 53]",9.446,2014-01-03,Paranormal Activity: The Marked Ones,5.3,752,False,2014
1147,"Apr 11, 2014",Oculus,5000000,27695246,44115496,2014,False,Oculus_2014,[27],10.841,2014-04-03,Oculus,6.4,1747,False,2014
1148,"Nov 1, 2013",Dallas Buyers Club,5000000,27298285,60611845,2013,False,Dallas Buyers Club_2013,"[18, 36]",12.389,2013-11-22,Dallas Buyers Club,7.9,4961,False,2013
1149,"Aug 26, 2015",No Escape,5000000,27288872,42844516,2015,False,No Escape_2015,"[28, 53]",19.005,2015-08-26,No Escape,6.8,1296,False,2015
1150,"Feb 27, 2015",The Lazarus Effect,5000000,25801570,38359310,2015,False,The Lazarus Effect_2015,"[53, 27]",10.157,2015-02-27,The Lazarus Effect,5.1,825,False,2015
1151,"Aug 26, 2011",Our Idiot Brother,5000000,24814830,25861249,2011,False,Our Idiot Brother_2011,"[35, 18]",8.523,2011-08-26,Our Idiot Brother,6.1,527,False,2011
1152,"Mar 9, 2018",The Strangers: Prey at Night,5000000,24431472,29960051,2018,False,The Strangers: Prey at Night_2018,"[27, 53]",13.310,2018-03-09,The Strangers: Prey at Night,5.4,621,False,2018
1153,"Jul 5, 2013",The Way Way Back,5000000,21502690,26853810,2013,False,The Way Way Back_2013,"[35, 18]",9.977,2013-07-05,The Way Way Back,7.1,1043,False,2013
1154,"Aug 29, 2014","As Above, So Below",5000000,21222315,41824066,2014,False,"As Above, So Below_2014","[27, 53]",10.613,2014-08-29,"As Above, So Below",6.2,1321,False,2014
1155,"Feb 19, 2016",Race,5000000,19115191,23745772,2016,False,Race_2016,"[28, 18]",8.705,2016-02-19,Race,7.2,910,False,2016
1156,"Sep 2, 2011",Apollo 18,5000000,17686929,26517819,2011,False,Apollo 18_2011,"[27, 53, 878]",8.384,2011-09-02,Apollo 18,5.0,486,False,2011
1157,"Oct 10, 2014",Addicted,5000000,17390770,17499242,2014,False,Addicted_2014,"[18, 53]",8.295,2014-10-10,Addicted,5.3,103,False,2014
1158,"Mar 15, 2013",Spring Breakers,5000000,14124286,31149251,2013,False,Spring Breakers_2013,"[18, 80]",10.691,2013-03-15,Spring Breakers,5.0,2495,False,2013
1159,"Jun 9, 2017",It Comes at Night,5000000,13985117,19720203,2017,False,It Comes at Night_2017,[27],12.337,2017-06-09,It Comes at Night,5.8,1141,False,2017
1160,"Mar 3, 2017",Before I Fall,5000000,12241072,18945682,2017,False,Before I Fall_2017,"[18, 9648, 53, 14]",14.584,2017-03-03,Before I Fall,7.0,2135,False,2017
1161,"Jan 29, 2016",Fifty Shades of Black,5000000,11686940,22113075,2016,False,Fifty Shades of Black_2016,"[10749, 35]",8.784,2016-01-29,Fifty Shades of Black,4.4,677,False,2016
1162,"Sep 21, 2018",Fahrenheit 11/9,5000000,6352306,6653715,2018,False,Fahrenheit 11/9_2018,[99],10.003,2018-09-10,Fahrenheit 11/9,7.1,142,False,2018
1163,"Dec 2, 2016",Incarnate,5000000,4799774,9371036,2016,False,Incarnate_2016,"[27, 53]",7.137,2016-12-02,Incarnate,5.2,314,False,2016
1164,"Mar 3, 2017",Table 19,5000000,3614896,4620399,2017,False,Table 19_2017,"[35, 18]",7.551,2017-03-03,Table 19,6.0,604,False,2017
1165,"Apr 15, 2016",Green Room,5000000,3220371,3807503,2016,False,Green Room_2016,"[27, 80, 53]",9.943,2016-04-15,Green Room,6.8,1314,False,2016
1166,"Mar 9, 2018",Thoroughbreds,5000000,3072605,3187302,2018,False,Thoroughbreds_2018,"[18, 53]",11.241,2018-03-09,Thoroughbreds,6.3,398,False,2018
1167,"Mar 4, 2016",The Other Side of the Door,5000000,3000342,12905107,2016,False,The Other Side of the Door_2016,"[53, 27]",9.078,2016-03-11,The Other Side of the Door,5.3,470,False,2016
1168,"May 13, 2011",Everything Must Go,5000000,2712131,2821010,2011,False,Everything Must Go_2011,"[35, 18, 10749]",7.493,2011-05-13,Everything Must Go,6.0,301,False,2011
1169,"Oct 10, 2014",Kill the Messenger,5000000,2450846,6656705,2014,False,Kill the Messenger_2014,"[53, 80, 18, 9648]",10.062,2014-10-10,Kill the Messenger,6.6,507,False,2014
1170,"Dec 17, 2010",Rabbit Hole,5000000,2229058,6205034,2010,False,Rabbit Hole_2010,[18],9.389,2010-12-16,Rabbit Hole,6.8,292,False,2010
1171,"Oct 23, 2015",Jem and the Holograms,5000000,2184640,2368937,2015,False,Jem and the Holograms_2015,"[18, 14, 10402]",7.942,2015-10-23,Jem and the Holograms,5.4,241,False,2015
1172,"Dec 28, 2016",Paterson,5000000,2141423,10727536,2016,False,Paterson_2016,"[35, 18, 10749]",9.486,2016-12-28,Paterson,7.1,736,False,2016
1173,"Aug 16, 2013",Ain't Them Bodies Saints,5000000,391611,1075009,2013,False,Ain't Them Bodies Saints_2013,"[80, 18, 10749, 37]",8.166,2013-08-16,Ain't Them Bodies Saints,6.2,217,False,2013
1174,"Aug 7, 2015",Cop Car,5000000,134552,143658,2015,False,Cop Car_2015,[53],11.414,2015-08-07,Cop Car,5.8,452,False,2015
1175,"Oct 17, 2014",Rudderless,5000000,56001,567219,2014,False,Rudderless_2014,"[10402, 18, 35]",8.030,2014-10-17,Rudderless,7.4,149,False,2014
1176,"May 15, 2015",Area 51,5000000,7556,7556,2015,False,Area 51_2015,"[27, 53, 878]",6.794,2015-05-15,Area 51,4.4,248,False,2015
1177,"Dec 5, 2014",Dying of the Light,5000000,0,74639,2014,False,Dying of the Light_2014,"[53, 18]",9.064,2014-12-04,Dying of the Light,4.6,174,False,2014
1178,"Sep 2, 2016",Yoga Hosers,5000000,0,22958,2016,False,Yoga Hosers_2016,"[35, 14, 27]",8.050,2016-09-02,Yoga Hosers,4.5,221,False,2016
1179,"Jul 19, 2013",Only God Forgives,4800000,775849,4494560,2013,False,Only God Forgives_2013,"[18, 53, 80]",10.196,2013-07-19,Only God Forgives,5.8,1396,False,2013
1180,"Sep 30, 2011",Take Shelter,4750000,1728953,4972016,2011,False,Take Shelter_2011,"[53, 18]",11.236,2011-09-30,Take Shelter,7.2,787,False,2011
1181,"Mar 25, 2016",The Lobster,4500000,9196278,18019834,2016,False,The Lobster_2016,"[53, 35, 18, 10749, 878]",15.640,2016-05-13,The Lobster,6.9,2895,False,2016
1182,"Oct 7, 2011",Blackthorn,4500000,200558,1217307,2011,False,Blackthorn_2011,"[12, 28, 37]",7.548,2011-10-07,Blackthorn,6.7,111,False,2011
1183,"May 8, 2015",Maggie,4500000,187112,1027760,2015,False,Maggie_2015,"[27, 18, 9648]",13.000,2015-05-08,Maggie,5.3,958,False,2015
1184,"Mar 1, 2013",The Sweeney,4500000,26345,8000366,2013,False,The Sweeney_2013,"[28, 80]",6.400,2013-03-01,The Sweeney,5.9,142,False,2013
1185,"Sep 4, 2014",Falcon Rising,4500000,11774,11774,2014,False,Falcon Rising_2014,"[12, 28]",10.059,2014-09-05,Falcon Rising,5.8,126,False,2014
1186,"Nov 3, 2015",The Final Girls,4500000,0,0,2015,False,The Final Girls_2015,"[35, 27]",8.362,2015-10-09,The Final Girls,6.5,619,False,2015
1187,"Aug 13, 2010",Animal Kingdom,4200000,1044039,8078683,2010,False,Animal Kingdom_2010,"[18, 53, 80, 9648]",10.188,2010-08-13,Animal Kingdom,6.8,399,False,2010
1188,"Jan 23, 2015",The Boy Next Door,4000000,36006065,53401938,2015,False,The Boy Next Door_2015,[53],7.062,2015-01-23,The Boy Next Door,4.4,1382,False,2015
1189,"Jul 11, 2014",Boyhood,4000000,25379975,57273049,2014,False,Boyhood_2014,[18],11.141,2014-07-11,Boyhood,7.5,3097,False,2014
1190,"Jul 9, 2010",The Kids Are All Right,4000000,20811365,36275469,2010,False,The Kids Are All Right_2010,"[35, 18]",8.426,2010-07-09,The Kids Are All Right,6.6,854,False,2010
1191,"Apr 18, 2014",A Haunted House 2,4000000,17329487,21206861,2014,False,A Haunted House 2_2014,"[35, 27]",6.948,2014-04-18,A Haunted House 2,5.5,597,False,2014
1192,"Mar 1, 2013",The Last Exorcism Part II,4000000,15179303,25448707,2013,False,The Last Exorcism Part II_2013,"[27, 53, 18]",7.561,2013-03-01,The Last Exorcism Part II,4.5,297,False,2013
1193,"May 13, 2016",The Darkness,4000000,10753574,10898293,2016,False,The Darkness_2016,"[27, 53]",8.357,2016-05-13,The Darkness,4.8,347,False,2016
1194,"Aug 24, 2012",Samsara,4000000,2672413,5966671,2012,False,Samsara_2012,"[18, 99]",6.015,2012-08-22,Samsara,8.2,276,False,2012
1195,"Jun 17, 2011",The Art of Getting By,4000000,1430241,1989035,2011,False,The Art of Getting By_2011,"[18, 10749]",8.695,2011-06-17,The Art of Getting By,6.5,752,False,2011
1196,"Sep 23, 2011",Red State,4000000,1065429,1983596,2011,False,Red State_2011,"[27, 28, 53]",7.816,2011-09-23,Red State,6.1,472,False,2011
1197,"Oct 17, 2012",Holy Motors,4000000,641054,4230426,2012,False,Holy Motors_2012,"[18, 14]",5.310,2012-10-17,Holy Motors,7.0,431,False,2012
1198,"Jun 13, 2014",The Signal,4000000,600896,2665322,2014,True,The Signal_2014,"[53, 878]",10.032,2014-06-13,The Signal,5.9,901,False,2014
1199,"Apr 11, 2014",Joe,4000000,373375,373375,2014,False,Joe_2014,[18],8.570,2014-04-11,Joe,6.6,514,False,2014
1200,"Apr 1, 2011",Trust,4000000,120016,120016,2011,False,Trust_2011,"[80, 18, 53]",7.805,2011-04-01,Trust,6.6,556,False,2011
1201,"Apr 18, 2014",13 Sins,4000000,9134,47552,2014,False,13 Sins_2014,"[27, 53]",10.899,2014-04-18,13 Sins,6.3,576,False,2014
1202,"Nov 5, 2010",Four Lions,3750000,310007,2436111,2010,False,Four Lions_2010,"[35, 80, 18]",9.968,2010-11-05,Four Lions,7.0,621,False,2010
1203,"Feb 19, 2010",Defendor,3750000,44462,44462,2010,False,Defendor_2010,"[18, 28, 35, 80]",7.863,2010-02-26,Defendor,6.4,295,False,2010
1204,"Apr 13, 2018",Truth or Dare,3500000,41411015,95127344,2018,False,Truth or Dare_2018,"[53, 27]",14.354,2018-04-13,Truth or Dare,6.0,2005,True,2018
1205,"Feb 19, 2016",The Witch,3500000,25138705,40454520,2016,False,The Witch_2016,"[9648, 27]",13.493,2016-02-19,The Witch,6.6,2931,False,2016
1206,"Feb 2, 2018",Winchester,3500000,25091816,44378040,2018,False,Winchester_2018,"[14, 9648, 53, 27]",12.440,2018-02-02,Winchester,5.7,884,False,2018
1207,"Feb 22, 2013",Dark Skies,3500000,17418667,27704111,2013,False,Dark Skies_2013,"[878, 53, 27]",11.582,2013-02-22,Dark Skies,6.1,1004,False,2013
1208,"Jan 19, 2018",Forever My Girl,3500000,16376066,16376066,2018,False,Forever My Girl_2018,"[10749, 18, 10402]",15.953,2018-01-26,Forever My Girl,7.4,406,False,2018
1209,"May 18, 2018",First Reformed,3500000,3448256,3874772,2018,False,First Reformed_2018,[18],12.943,2018-05-18,First Reformed,6.9,446,False,2018
1210,"Sep 30, 2016",American Honey,3500000,663247,2611750,2016,False,American Honey_2016,[18],8.778,2016-09-30,American Honey,6.7,417,False,2016
1211,"Mar 18, 2016",The Bronze,3500000,615816,615816,2016,False,The Bronze_2016,"[18, 35]",8.328,2016-03-18,The Bronze,5.8,186,False,2016
1212,"Jan 29, 2013","Batman: The Dark Knight Returns, Part 2",3500000,0,0,2013,False,"Batman: The Dark Knight Returns, Part 2_2013","[28, 16, 9648]",13.326,2013-01-29,"Batman: The Dark Knight Returns, Part 2",7.9,689,False,2013
1213,"Oct 21, 2011",Margin Call,3400000,5353586,20433227,2011,False,Margin Call_2011,"[53, 18]",9.498,2011-10-21,Margin Call,6.8,856,False,2011
1214,"Oct 10, 2014",Whiplash,3300000,13092006,38969037,2014,False,Whiplash_2014,"[18, 10402]",28.784,2014-10-10,Whiplash,8.4,7908,False,2014
1215,"Jul 6, 2018",Sorry to Bother You,3200000,17493096,18285560,2018,False,Sorry to Bother You_2018,"[14, 878, 35]",15.887,2018-07-06,Sorry to Bother You,6.9,481,False,2018
1216,"Jun 3, 2011",Beginners,3200000,5790894,14314407,2011,False,Beginners_2011,"[18, 10749, 35]",10.322,2011-06-17,Beginners,6.9,532,False,2011
1217,"Apr 22, 2016",The Meddler,3200000,4267219,5526942,2016,False,The Meddler_2016,"[35, 18]",7.725,2016-04-22,The Meddler,5.8,186,False,2016
1218,"Apr 12, 2013",Antiviral,3100000,0,123407,2013,False,Antiviral_2013,"[878, 27]",6.330,2013-04-12,Antiviral,5.8,152,False,2013
1219,"Oct 20, 2010",Paranormal Activity 2,3000000,84752907,177512032,2010,False,Paranormal Activity 2_2010,"[27, 53]",8.163,2010-10-21,Paranormal Activity 2,5.7,1342,False,2010
1220,"Aug 28, 2015",War Room,3000000,67790117,73975239,2015,False,War Room_2015,"[18, 10749]",7.419,2015-08-28,War Room,7.5,171,False,2015
1221,"Jun 7, 2013",The Purge,3000000,64473115,91266581,2013,False,The Purge_2013,"[878, 27, 53]",24.364,2013-06-06,The Purge,6.2,4797,False,2013
1222,"Oct 12, 2012",Sinister,3000000,48086903,87727807,2012,False,Sinister_2012,"[27, 53, 9648]",13.117,2012-10-12,Sinister,6.8,2935,False,2012
1223,"Jun 1, 2018",Upgrade,3000000,11977130,16553285,2018,False,Upgrade_2018,"[28, 53, 878]",21.413,2018-06-01,Upgrade,7.4,1326,False,2018
1224,"May 24, 2013",Before Midnight,3000000,8110621,23251930,2013,False,Before Midnight_2013,"[10749, 18]",11.765,2013-06-14,Before Midnight,7.4,1039,False,2013
1225,"Jun 24, 2016",Swiss Army Man,3000000,4210454,5837111,2016,False,Swiss Army Man_2016,"[35, 18, 10749, 14, 12]",10.000,2016-06-24,Swiss Army Man,6.9,1789,False,2016
1226,"May 17, 2013",Frances Ha,3000000,4067398,11262769,2013,False,Frances Ha_2013,"[35, 18]",9.420,2013-05-17,Frances Ha,7.4,624,False,2013
1227,"Sep 19, 2014",Tusk,3000000,1821983,1887554,2014,False,Tusk_2014,"[35, 27, 18, 53]",8.655,2014-09-19,Tusk,5.3,601,False,2014
1228,"May 12, 2017",The Wall,3000000,1803064,4495262,2017,False,The Wall_2017,"[53, 10752, 18]",8.142,2017-05-12,The Wall,6.1,407,False,2017
1229,"Apr 6, 2012",Damsels in Distress,3000000,1007535,1324299,2012,False,Damsels in Distress_2012,"[35, 10749]",6.625,2012-04-06,Damsels in Distress,5.5,103,False,2012
1230,"May 6, 2011",Hobo with a Shotgun,3000000,703372,834953,2011,False,Hobo with a Shotgun_2011,"[80, 28, 53]",8.844,2011-05-06,Hobo with a Shotgun,5.9,300,False,2011
1231,"May 8, 2015",The D Train,3000000,669688,772366,2015,False,The D Train_2015,"[18, 35]",6.465,2015-05-08,The D Train,4.6,125,False,2015
1232,"Sep 7, 2012",Bachelorette,3000000,446770,12577401,2012,False,Bachelorette_2012,"[35, 10749]",7.050,2012-09-06,Bachelorette,5.4,755,False,2012
1233,"Sep 4, 2015",Before We Go,3000000,37151,483938,2015,False,Before We Go_2015,"[18, 10749, 35]",8.233,2015-05-21,Before We Go,6.5,985,False,2015
1234,"Jun 27, 2014",They Came Together,3000000,0,82780,2014,False,They Came Together_2014,[35],7.353,2014-06-27,They Came Together,5.5,226,False,2014
1235,"Sep 13, 2011",Never Back Down 2: The Beatdown,3000000,0,0,2011,False,Never Back Down 2: The Beatdown_2011,"[18, 28]",13.060,2011-09-13,Never Back Down 2: The Beatdown,6.0,257,False,2011
1236,"May 2, 2014",Ida,2600000,3827060,15298355,2014,False,Ida_2014,[18],7.568,2014-05-02,Ida,7.3,455,False,2014
1237,"Jan 11, 2013",A Haunted House,2500000,40041683,59922558,2013,False,A Haunted House_2013,"[35, 27]",6.909,2013-01-11,A Haunted House,5.5,871,False,2013
1238,"Jul 3, 2013",Kevin Hart: Let Me Explain,2500000,32244051,32327255,2013,False,Kevin Hart: Let Me Explain_2013,"[35, 99]",8.476,2013-07-03,Kevin Hart: Let Me Explain,6.9,142,False,2013
1239,"Aug 2, 2013",The Spectacular Now,2500000,6852971,6916951,2013,False,The Spectacular Now_2013,"[35, 18, 10749]",13.679,2013-09-13,The Spectacular Now,6.6,1801,False,2013
1240,"Jun 24, 2016",Hunt for the Wilderpeople,2500000,5205471,23845533,2016,False,Hunt for the Wilderpeople_2016,"[12, 35, 18]",12.545,2016-06-24,Hunt for the Wilderpeople,7.8,915,False,2016
1241,"Aug 17, 2012",Robot & Frank,2500000,3317468,4934356,2012,False,Robot & Frank_2012,"[878, 35, 18, 80]",7.485,2012-08-16,Robot & Frank,6.9,620,False,2012
1242,"Apr 1, 2011",Super,2500000,327716,593933,2011,False,Super_2011,"[35, 28, 18]",11.360,2011-03-31,Super,6.6,726,False,2011
1243,"Sep 30, 2011",Courageous,2000000,34522221,35185884,2011,False,Courageous_2011,[18],7.406,2011-09-30,Courageous,7.0,128,False,2011
1244,"Mar 13, 2015",It Follows,2000000,14674077,23250755,2015,False,It Follows_2015,"[27, 53]",18.419,2015-03-27,It Follows,6.5,3485,False,2015
1245,"Jul 13, 2018",Eighth Grade,2000000,13539710,14341016,2018,False,Eighth Grade_2018,"[35, 18]",14.777,2018-07-13,Eighth Grade,7.4,519,False,2018
1246,"Apr 8, 2016",Hardcore Henry,2000000,9252038,17187434,2016,False,Hardcore Henry_2016,"[28, 12, 878]",10.459,2016-04-06,Hardcore Henry,6.2,1294,False,2016
1247,"Jun 11, 2010",Winter's Bone,2000000,6531503,16131551,2010,False,Winter's Bone_2010,[18],9.824,2010-06-11,Winter's Bone,6.9,931,False,2010
1248,"Oct 6, 2017",The Florida Project,2000000,5904366,11295324,2017,False,The Florida Project_2017,[18],11.597,2017-10-06,The Florida Project,7.4,1125,False,2017
1249,"Oct 8, 2010",Inside Job,2000000,4311834,7799257,2010,False,Inside Job_2010,[99],9.514,2010-10-08,Inside Job,7.8,466,False,2010
1250,"Aug 28, 2015",We Are Your Friends,2000000,3591417,10153415,2015,False,We Are Your Friends_2015,"[18, 10402, 10749, 35]",10.809,2015-08-28,We Are Your Friends,6.3,1241,False,2015

Plan:
    Join data on budgets to ratings from IMDB, TMDB.  Look for movies with the lowest budget and highest ratings
    - What do they have in common?  These are my three questions:
        - Actors?
        - Run Time?
        - Genre?

Thoughts:
budget vs worldwide gross seems important.  Microsoft wants to make money right?
Let's look at movies from the past 10 years
For those that are the highest ROI, what do they have in common?
Why can't we see the title in the Rotten Tomatoes data?  Does it matter?  It does if we want to see whether
critical reviews play a part in ROI
What else plays a part?  directors, writers, actors?  composers, cinematographers?  runtime, genre?
Or maybe ROI is not important.  Maybe this is going to be a subscription service and ratings will be more important.
Microsoft is a tech company after all.  So maybe they want the highest ratings with the lowest budget.
If we are looking at ROI, start with tn_budgets_df
If we are looking at budget vs ratings, look at tn_budgets, then for ratings look at: imdb ratings, tmdb ratings.  Not sure if critic reviews (rotten tomatoes) are important here

In [25]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [26]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***